body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: black;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

header {
    font-family: 'Inter', sans-serif;
    position: sticky;
    top:0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    display: flex;
    margin: 0 15px;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul li a:hover {
    color: #000d54;

}
.select-nav {
    position: relative;
    display: inline-block;

}

.style-toggle{
    margin-left: 70px;
    display: flex;
    gap: 0;
    width: 310px;
}

.select-nav-cookie {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    display: inline-block;
    margin-left: 90px;
    margin-top: 5px;

}

.select-nav-cookie::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #315b7f;
    transition: width 0.4s ease;
}

.select-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #315b7f;
    transition: width 0.4s ease;
}

.select-nav:hover::after {
    width: 70%;
}
.nav-container {
    display: flex;
    align-items: center;
}

.menu-deroulant{
    position: relative;
}

.choice-list{
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 0;
    min-width: 360px;
    height: 290px;
    z-index: 999;
}

.menu-deroulant:hover .choice-list {
    display: block;
}

.choice-list a {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    transition: background 0.2s ease;
}

.choice-list a:hover{
    background-color: rgba(223, 235, 236, 0.55);
}

.logo{
    display: flex;
    justify-content: center;
}


.content {
    margin-top: 100px;
    padding: 20px;
}


.normalTab th, .normalTab td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.normalTab th {
    background: #333;
    color: white;
}

.dark-mode{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #000000;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 139px;
    height: 39px;
}
.dark-mode:hover {
    background-color: #4e4e57;
}

.light-mode{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    background-color: #d1d1e0;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 139px;
    height: 39px;
}
.light-mode:hover {
    background-color: #4e4e57;
}