h1{
    text-align: center;
}

body {
    font-family: sans-serif;
}

.main-container {
    max-width: 1500px;
    margin: auto;
}

.card {
    display: flex;
    gap: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

.card img {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-badge {
    font-weight: bold;
    color: #e67e22;
    margin-left: 5px;
}

.search{
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition : box-shadow 0.25s;
}

.search:focus-within{
    box-shadow : 0 0 2px rgba(0,0,0,0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans serif;
    color : #333333;
    margin-left: var(--padding);
    outline : none;
    border: none;
    background: transparent;
    width: 600px;
}

.search-input::placeholder,
.search-icon{
    color: rgba(0,0,0,0.5);
}