html, body{
    height: 100%;
    margin: 0;
}

#map{
    position: absolute;
    height: 100%;
    width: 100%;
}
body {
    background-color: #ffffff;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    color: #222222;
    text-align: center;
}

main {
    padding: 2em;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    text-decoration: none;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
}

.back-to-top.show {
    opacity: 1;
}

.back-to-top:hover {
    background-color: #0056b3;
}

.changer-mode{
    position: fixed; bottom: 110px; right: 16px;
    z-index: 500;
}

a {
    color: #0077cc;
    text-decoration: none;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 1.4em;
}

nav ul li a:hover {
    text-decoration: none;
}

.main-nav{
    background-color: #e4ebeb;
}
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-nav li {
    margin: 0 11px;
}

.main-nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s;
}

.main-nav a:hover {
    background-color: #d7dde1;
    border-radius: 5px;
    text-decoration: none !important;

}

