.carousel{
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x:auto;
    border-radius:10px;
    position: relative;
}
.carousel::-webkit-scrollbar{
    display:none;
}
.group{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 30s infinite linear;
    padding-right: 1em;
}
.card{
    flex: 0 0 auto;
    /*height: 5em;*/
    /*padding: 1em;*/
    /*background: cornflowerblue;*/
    /*font-size: 3rem;*/
    border-radius: .2em;
    /*text-align: center;*/
    align-content: center;
    width: 1400px;
    height: 800px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* garde une belle proportion */
    display: block;
}
@keyframes spin{
    from{translate: 0;}
    to {translate: -100%;}
}
.carousel-title {
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);

    z-index: 20; /* au-dessus de l'image et du fondu */
    pointer-events: none; /* on peut cliquer à travers */
}
.btn-decouvrir {
    padding: .8rem 2rem;
    background: linear-gradient(135deg, #4e8cff, #0056d6);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
}

.btn-decouvrir:hover {
    transform: translate(-50%, -53%) scale(1.05); /* léger zoom */
}
.carousel-btn {
    position: absolute;
    top: 68%;           /* ajuste la hauteur du bouton */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;        /* au-dessus des images */
}