@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Playfair Display', serif;
}
#map{
    position: absolute;
    height: 90%;
    width: 100%;
}
:root {
    --primary-color: #2B2D42;
    --secondary-color: #8D99AE;
    --background-color: #ececec;
    --text-color: #27272e;
    --accent-color: #EF233C;
    --shadow-color: rgba(0, 0, 0, 0.1);
}
a{
    color: #1864ad;
    display:block;
    text-align: center;
    margin: auto;
}
.default-section {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}
.h2-presentation{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 50px;
}